@model Mangateque.Models.Chapter

@{
    ViewData["Title"] = "Details";
}

<h1>Lecture de @Model.Path</h1>

<div>
    <dl class="row">
        @for (var i = 1; i <= Model.NumberOfPage; i++)
        {
            string imageSrc = $@"..\..\{@Model.Path}\{@i}.jpg";
            <img class="card-img-top" src="@imageSrc">
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-controller="Books" asp-action="Index">Retour à la liste des mangas</a>
</div>
