@model IEnumerable<Mangateque.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model) {
    
    <div class="card" style="width: 18rem;">
        <a asp-action="Details" asp-route-id="@item.Id">
      <img class="card-img-top" src="@item.Path" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
      </div>
       </a>
    </div>
   
}

